* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Eczar-SemiBold;
  src: url(../fonts/Eczar-SemiBold.ttf);
}
body {
  background-color: #c9e265;
}
main {
  margin-left: 7%;
  margin-top: -2%;
}
h1 {
  font-family: Eczar-SemiBold;
  font-size: 6vh;
  text-align: center;
  margin-right: 43%;
  margin-bottom: 5%;
  margin-top: 7%;
}
h2 {
  font-family: Eczar-SemiBold;
  font-size: 5vh;
  text-align: center;
  margin-right: 45%;
  margin-top: -10%;
}
.mes {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 6%;
  margin-top: 2%;
}
.valor {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 45%;
  margin-top: 8%;
  padding: 1%;
}
.table {
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 2vh;
  margin-left: 5%;
  margin-right: 60%;
  border: 2px ridge black;
}
.month {
  border: 1px solid black;
  height: 100%;
}
img {
  width: 48%;
  margin-left: 50%;
  margin-top: -25%;
  border-radius: 10%;
}

@media screen and (max-width: 1536px) and (min-width: 864px) {
  h1 {
    display: flexbox;
    position: absolute;
    width: 48%;
    margin-right: 60%;
    margin-top: -7%;
  }
  .table {
    margin-top: 20%;
  }
  main {
    margin-left: 2%;
  }
  h2 {
    margin-right: 55%;
  }
}
@media screen and (max-width: 1440px) and (min-width: 900px) {
  h1 {
    font-size: 5vh;
    margin-top: 20%;
    margin-left: 2%;
  }
  /*Tamanho da imagem da tabela*/
  .table {
    width: 110%;
  }
  /*vai mover a tabela*/
  main {
    display: flexbox;
    position: absolute;
    width: 40%;
    margin-top: 18%;
  }
  img {
    margin-top: 15%;
    border-radius: 10%;
  }
  h2 {
    font-size: 4vh;
    margin-top: -7%;
    margin-left: 2%;
  }
}
@media screen and (max-width: 1280px) and (min-width: 950px) {
  h1 {
    font-size: 5vh;
    margin-top: 18%;
    margin-left: 2%;
  }
  /*Tamanho da imagem da tabela*/
  .table {
    width: 110%;
  }
  /*vai mover a tabela*/
  main {
    display: flexbox;
    position: absolute;
    width: 40%;
    margin-top: 18%;
  }
  img {
    margin-top: 15%;
    border-radius: 10%;
  }
  h2 {
    font-size: 4vh;
    margin-top: -5%;
    margin-left: 2%;
  }
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  h1 {
    font-size: 4vh;
    text-align: center;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 10%;
  }
  /*Tamanho da imagem da tabela*/
  .table {
    width: 210%;
  }
  /*vai mover a tabela*/
  main {
    display: flexbox;
    position: absolute;
    width: 40%;
    margin-top: 8%;
  }
  img {
    margin-left: 0;
    width: 100%;
    margin-top: 70%;
    border-radius: 10%;
  }
  h2 {
    font-size: 4vh;
    text-align: center;
    margin-right: 0%;
    margin-top: -95%;
  }
}
@media screen and (min-width: 412px) and (max-width: 846px) {
  h1 {
    font-size: 3vh;
    text-align: center;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 10%;
  }
  /*Tamanho da imagem da tabela*/
  .table {
    width: 200%;
    margin-left: 1.5%;
  }
  .valor {
    margin-left: 35%;
    margin-top: 8%;
    padding: 1%;
  }
  /*vai mover a tabela*/
  main {
    display: flexbox;
    position: absolute;
    width: 49%;
    margin-top: 8%;
    margin-left: 0;
  }
  img {
    margin-left: 0;
    width: 100%;
    margin-top: 80%;
    border-radius: 10%;
  }
  h2 {
    font-size: 3vh;
    text-align: center;
    margin-right: 0%;
    margin-top: -95%;
  }
}
@media screen and (min-width: 393px) and (max-width: 786px) {
  h1 {
    font-size: 3vh;
    text-align: center;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 10%;
  }
  /*Tamanho da imagem da tabela*/
  .table {
    width: 200%;
    margin-left: 1.5%;
  }
  .valor {
    margin-left: 35%;
    margin-top: 8%;
    padding: 1%;
  }
  /*vai mover a tabela*/
  main {
    display: flexbox;
    position: absolute;
    width: 49%;
    margin-top: 8%;
    margin-left: 0;
  }
  img {
    margin-left: 0;
    width: 100%;
    margin-top: 80%;
    border-radius: 10%;
  }
  h2 {
    font-size: 3vh;
    text-align: center;
    margin-right: 0%;
    margin-top: -95%;
  }
}
@media screen and (min-width: 360px) and (max-width: 740px) {
  h1 {
    font-size: 3vh;
    text-align: center;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-top: 10%;
  }
  /*Tamanho da imagem da tabela*/
  .table {
    width: 200%;
    margin-left: 1.5%;
  }
  .valor {
    margin-left: 35%;
    margin-top: 8%;
    padding: 1%;
  }
  /*vai mover a tabela*/
  main {
    display: flexbox;
    position: absolute;
    width: 49%;
    margin-top: 8%;
    margin-left: 0;
  }
  img {
    margin-left: 0;
    width: 100%;
    margin-top: 80%;
    border-radius: 10%;
  }
  h2 {
    font-size: 3vh;
    text-align: center;
    margin-right: 0%;
    margin-top: -95%;
  }
}
